<style type="text/css">

</style>

<div ng-controller="dudasController" ng-init="getDoubt(doubt_id)" style="padding-bottom: 20px;margin-top: 20px;">


<div class="container">
    <div class="row" style="margin-top: 10px;">

        <div class="col-xs-12 col-sm-8">
            <div class="box">
                <div style="padding: 10px;border-bottom: 1px silver solid">

                    <h1>{{doubt.title}}</h1></div>
            <div style="padding: 20px;">
                {{doubt.description}}
<pre class="prettyprint lang-js">
function getCookie(c_name){
    var c_value = document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1){
        c_start = c_value.indexOf(c_name + "=");
    }
</pre>


            </div>
            </div>
            <hr>
            <h2>Respuestas</h2>
            <div style="margin-top: 20px;">
                <div class="box" style="">
                    <div style="height: auto !important;overflow: hidden;border-bottom: 1px #e5e5e5 solid">
                        <div class="pull-left" style="padding: 5px;"><span class="glyphicon glyphicon-ok"></span> SOLUCIÓN</div>
                        <ul class="pull-right float padding-5 hover-default">
                            <li><span class="glyphicon glyphicon-thumbs-up"></span> FUNCIONA  </li>
                            <li><span class="glyphicon glyphicon-thumbs-down"></span> NO FUNCIONA</li>
                        </ul>
                    </div>
                    <div style="padding: 20px;">

                            Your problem is confusing the functionality intent of the classes. The QAbstractListModel is intended as a wrapper around a container, yes, you could put the container inside the QAbstractListModel derived class, but you don't really have to, the container can be just about any C++ class, not necessarily even QObject derived, it can be ju that you can reach from the model via a pointer. Which is good for cases where you have many objects, and not all need to have models at all the time, since those models are pretty heavy.

                            You don't really need to concern yourself with the ownership, leave that at the C++ side, the same goes for the actual object creation, have a slot called that adds the new object to the container while also using the model's beginInsertRows and endInsertRows so that any views will be notified to update efficiently, the new object should also be created in that slot, you can pass any data needed for it from QML, just make sure all data is registered with the Qt meta system so it can work with QVariant for QML-C++ interop.


                    </div>

                    <div style="padding: 3px;height: auto !important;overflow: hidden;font-size: 9pt;border-top: 1px silver solid">

                        <div class="pull-left">
                            hace 23 minutos por Salvador

                        </div>

                        <div class="pull-right">
                            <span class="glyphicon glyphicon-comment"></span> RESPONDER
                        </div>

                    </div>

                </div>
                <div class="box" style="padding: 5px;">
                    <textarea class="form-control" style="height: 70px;resize: none"></textarea>
                    <div style="padding-top: 5px;text-align: right">
                        <button class="btn btn-default btn-xs" style="">ENVIAR</button>
                    </div>
                </div>
                <div class="box" style="border: 1px silver solid;background-color: #e3e3e3">

                    <div style="">

                        <div style="padding: 5px;border-bottom: 1px silver solid">Comentario 1 <span style="color: silver">por Salvador hace 20 minutos</span> </div>
                        <div style="padding: 5px;border-bottom: 1px silver solid">Comentario 2</div>
                        <div style="padding: 5px;">Comentario 3</div>
                    </div>
                </div>







            <div class="box" style="margin-top: 20px;padding: 5px;">
                <div text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]" style="">

                </div>
                <div style="padding-top: 5px;text-align: right">
                    <button class="btn btn-default" style="">ENVIAR</button>
                </div>



            </div>

        </div>







        </div>
        <div class="col-xs-12 col-sm-4" style="">
            <img style="width: 100%" src="https://i.ytimg.com/vi_webp/mpQts3ezPVg/mqdefault.webp">
            <div style="margin-top: 20px;">
                <div style="padding: 10px;border:1px silver solid">Salvador hace 3 días</div>
            </div>
            <div style="margin-top: 20px;">
                <div style="padding: 10px;border:1px silver solid">Tags</div>
            </div>
            <div style="margin-top: 20px;">
                <div style="padding: 10px;border:1px silver solid">Compartir</div>
            </div>
            <div style="margin-top: 20px;font-weight: bold;">
                <div style="padding: 5px;border:1px #16a01d solid;background-color: #17b21e;color: white"><span class="glyphicon glyphicon-ok"></span> Solucionado</div>
                <div style="padding: 5px;border:1px #a0661d solid;background-color: #b2931d;color: white;margin-top: 20px;"><span class="glyphicon glyphicon-star"></span> Suscribirme</div>
            </div>
        </div>
    </div>
</div>

</div>