<!DOCTYPE html>
<html lang="es" ng-app="vts">
<head>
    <meta charset="UTF-8">
    <title>VEOTutoriales</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>


    <link rel="stylesheet" href="assets/css/vts.css">

</head>
<body>
<!-- header -->
    <header ng-init="showLogin = false" ng-controller="headerController">

        <div class="container">
            <div class="row">
            <ul class="default float padding-10 pull-left">
                <li ui-sref="home" class="bree" style="color: gainsboro;cursor: pointer">
                    VEOTUTORIALES
                </li>
                <li class="search" style="padding: 2px;">
                    <span class="glyphicon glyphicon-search"></span>

                    <input type="text">
                </li>
                <li class="hover-default" ui-sref="search" style="color: gainsboro;">Explorar</li>
            </ul>
            <ul ng-hide="loged" class="float padding-10 hover-default pull-right">
                <li data-toggle="modal" data-target="#myModal" >Iniciar Sesión</li>
                <li ui-sref="register">Registrarme</li>

            </ul>
            <ul ng-show="loged" class="default float padding-10 pull-right" style="color: gainsboro">
                <li class="hover-default" ui-sref="suscripcion">Suscripciones



                </li>
                <li class="glyphicon-envelope" ng-init="showAavisos = false" ng-mouseover="showAavisos = true" ng-mouseleave="showAavisos = false"  style="background-color: #f6614b;color: white;cursor: default">
                    <a style="color: white" ui-sref="avisos">2 Avisos</a>

                    <div ng-show="showAavisos" class="hover-default " style="position: absolute;top: 40px;background-color: inherit;width: 185px;margin-left: -65px;box-shadow: 0 1px 2px rgba(0,0,0,.4);">

                        <div>Aviso1</div>
                        <div>Aviso2</div>

                    </div>

                </li>

                <li class=""  ng-init="showAccount = false" ng-mouseover="showAccount = true" ng-mouseleave="showAccount = false" style="cursor: default;">
                    Mi cuenta
                    <ul ng-show="showAccount" class="hover-default " style="position: absolute;top: 40px;background-color: #536378;width: 135px;margin-left: -65px;box-shadow: 0 1px 2px rgba(0,0,0,.4);">

                       <li ui-sref="account" style="width: 100%">Configuracion</li>
                       <li ng-click="logout()" style="width: 100%">Cerrar Sesión</li>
                    </ul>

                </li>

            </ul>
            </div>
        </div>
    </header><!-- .header -->



<!-- content -->
    <div style="padding-top: 40px;">
        <div data-ui-view></div>
    </div><!-- .content -->

<!-- footer -->
    <footer class="container" >

        <div class="row" style="border-top: 1px #dfdfdf solid;padding: 5px;">
            <div class="col-xs-4">
                <div class="pull-left" ui-sref="help.tos">Terminos y condiciones</div>
                <div class="pull-left" ui-sref="help.cookies">Cookies</div>
            </div>
            <div class="col-xs-4" style="text-align: center">2015 Copyright</div>
            <div class="col-xs-4">
                <div class="pull-right">v0.0.1</div>
                <div class="pull-right">Youtube</div>
                <div class="pull-right">Facebook</div>
                <div class="pull-right">Twitter</div>
                <div class="pull-right" ui-sref="help.faq">FAQ</div>
                <div class="pull-right" ui-sref="help.contact">Contacto</div>
                <div class="pull-right" ui-sref="help.sobre">Sobre nosotros</div>
            </div>
        </div>
    </footer><!-- .footer -->









<!-- login modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="loginController"  ng-init="email='geodracs@gmail.com';pass='123456'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <input class="form-control" style="margin-bottom: 10px;" ng-model="email"  type="text" placeholder="Email">
                <input class="form-control" style="margin-bottom: 10px;" ng-model="pass"  type="password" placeholder="Contraseña">
                <button ng-click="send(email,pass)" class="btn btn-default btn-block" type="submit">Entrar YA</button>
            </div>

        </div>
    </div>
</div><!-- .login modal -->


















<!--//BLOQUE COOKIES-->
<div id="barraaceptacion" style="display: block;">
    <div class="inner">
        Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
        Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
        <a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
        <a href="" ui-sref="help.cookies" target="_blank" class="info">Más información</a>
    </div>
</div>
 
<script>
function getCookie(c_name){
    var c_value = document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1){
        c_start = c_value.indexOf(c_name + "=");
    }
    if (c_start == -1){
        c_value = null;
    }else{
        c_start = c_value.indexOf("=", c_start) + 1;
        var c_end = c_value.indexOf(";", c_start);
        if (c_end == -1){
            c_end = c_value.length;
        }
        c_value = unescape(c_value.substring(c_start,c_end));
    }
    return c_value;
}
 
function setCookie(c_name,value,exdays){
    var exdate=new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie=c_name + "=" + c_value;
}
 
if(getCookie('tiendaaviso')!="1"){
    document.getElementById("barraaceptacion").style.display="block";
}
function PonerCookie(){
    setCookie('tiendaaviso','1',365);
    document.getElementById("barraaceptacion").style.display="none";
}
</script>
<!--//FIN BLOQUE COOKIES-->







    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>