<!DOCTYPE html>
<html lang="es" ng-app="vts">
<head>
    <meta charset="UTF-8">
    <title>VEOTutoriales</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" href="assets/css/vts.css">

</head>
<body>
<!-- header -->
    <header ng-init="showLogin = false" ng-controller="headerController">

        <div class="container">
            <ul class="default float padding-10 pull-left">
                <li ui-sref="home" class="bree" style="">
                    VEOTUTORIALES
                </li>
                <li class="search" style="padding: 2px;">
                    <span class="glyphicon glyphicon-search"></span>

                    <input type="text">
                </li>
                <li class="hover-default" ui-sref="search">Explorar</li>
            </ul>
            <ul ng-hide="loged" class="float padding-10 hover-default pull-right">
                <li ng-controller="loginController" ng-mouseover="showLogin = true" ng-mouseleave="showLogin = false"  ng-init="email='geodracs@gmail.com';pass='123456'">
                    Iniciar Sesión
                    <div ng-show="showLogin" style="position: absolute;top: 40px;padding: 10px;background-color: #959697;width: 200px;margin-left: -70px;">
                        <input class="form-control" style="margin-bottom: 10px;" ng-model="email"  type="text" placeholder="Email">
                        <input class="form-control" style="margin-bottom: 10px;" ng-model="pass"  type="password" placeholder="Contraseña">
                        <button ng-click="send(email,pass)" class="btn btn-default btn-block" type="submit">Entrar YA</button>
                    </div>
                </li>

                <li ui-sref="register">Registrarme</li>

            </ul>
            <ul ng-show="loged" class="default float padding-10 pull-right" >
                <li class="section" style="background-color: #fc5833;color: white;">Avisos</li>

                <li class="section"  ng-init="showAccount = false" ng-mouseover="showAccount = true" ng-mouseleave="showAccount = false">
                    Mi cuenta
                    <ul ng-show="showAccount" style="position: absolute;top: 40px;background-color: silver;width: 135px;margin-left: -65px;">
                       <li ui-sref="account">Configuracion</li>
                       <li ng-click="logout()">Cerrar Sesión</li>
                    </ul>

                </li>

            </ul>
        </div>
    </header><!-- .header -->



<!-- content -->
    <div style="padding-top: 40px;">
        <div data-ui-view></div>
    </div><!-- .content -->

<!-- footer -->
    <footer class="container" >
        <div class="row" style="border-top: 1px #dfdfdf solid;padding: 5px;">
            <div class="col-xs-4">
                <div class="pull-left" ui-sref="help.tos">Terminos y condiciones</div>
                <div class="pull-left" ui-sref="help.cookies">Cookies</div>
            </div>
            <div class="col-xs-4" style="text-align: center">2015 Copyright</div>
            <div class="col-xs-4">
                <div class="pull-right">v0.0.1</div>
                <div class="pull-right">Youtube</div>
                <div class="pull-right">Facebook</div>
                <div class="pull-right">Twitter</div>
                <div class="pull-right" ui-sref="help.faq">FAQ</div>
                <div class="pull-right" ui-sref="help.sobre">Sobre nosotros</div>
            </div>
        </div>
    </footer><!-- .footer -->





























<!--//BLOQUE COOKIES-->
<div id="barraaceptacion" style="display: block;">
    <div class="inner">
        Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
        Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
        <a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
        <a href="" ui-sref="help.cookies" target="_blank" class="info">Más información</a>
    </div>
</div>
 
<script>
function getCookie(c_name){
    var c_value = document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1){
        c_start = c_value.indexOf(c_name + "=");
    }
    if (c_start == -1){
        c_value = null;
    }else{
        c_start = c_value.indexOf("=", c_start) + 1;
        var c_end = c_value.indexOf(";", c_start);
        if (c_end == -1){
            c_end = c_value.length;
        }
        c_value = unescape(c_value.substring(c_start,c_end));
    }
    return c_value;
}
 
function setCookie(c_name,value,exdays){
    var exdate=new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie=c_name + "=" + c_value;
}
 
if(getCookie('tiendaaviso')!="1"){
    document.getElementById("barraaceptacion").style.display="block";
}
function PonerCookie(){
    setCookie('tiendaaviso','1',365);
    document.getElementById("barraaceptacion").style.display="none";
}
</script>
<!--//FIN BLOQUE COOKIES-->







    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>