<div ng-controller="loginController" ng-init="activateEmail()" class="container" style="padding: 20px;">

    <div class="col-xs-1"></div>
    <div class="col-xs-7" style="">
        <h1 style="font-size: 34px;font-weight: bold;">¡Gracias por registrarte!</h1>
        <h2>Mira tu correo ¡Tienes un Email!</h2>
        <p>Activa tu cuenta haciendo click en el boton que aparece en el Email que te enviamos y comienza a disfrutar las herramientas de tu cuenta Veotutoriales.</p>
        <p>Si no te llega el correo comprueba que no este en tu carpeta de SPAM.</p>
        ¿Aún no te ha llegado?
        <div style="text-align: center">
            <button style="background-color: #536378;color: white" class="btn btn-default btn-lg">Reenvíalo</button>

        </div>
    </div>
    <div class="col-xs-2">
        <img src="assets/img/icons/icon_email_sending.png">
    </div>

</div>