<div ng-controller="loginController">

    <h1>This is Login</h1>
    <div class="container">
        <div class="" ng-init="email='geodracs@gmail.com';pass='123456'">
            <input ng-model="email" class="form-control" type="text" placeholder="Email" value="123123">
            <input ng-model="pass" class="form-control" type="password" placeholder="Contraseña" value="asdfasdf">
            <button ng-click="send(email,pass)" class="btn btn-default btn-sm" type="submit">Entrar YA</button>
        </div>
    </div>

</div>