
<div>


    <div class="container" style="padding-top: 80px;">
        <h1>Recordar contraseña</h1>
        <div class="col-xs-6">
            <p>Recivirás un código para poder cambiar tu contraseña</p>

            <input class="form-control" type="text" placeholder="Inserta tu email">
            <button class="btn btn-primary">Recordar</button>
        </div>
        <div class="col-xs-6">
            <label>Codigo</label>
            <input class="form-control" type="text" placeholder="Inserta aqui el código">
            <hr>
            <input class="form-control" type="text" placeholder="Nueva contraseña">
            <input class="form-control" type="text" placeholder="Repite la contraseña">
            <button class="btn btn-primary">Cambiar</button>

        </div>

    </div>


</div>