<div ng-controller="registerController" class="registerBacground">

    <div class="container">
        <div class="col-xs-7" style="margin-top: 20px;padding-top: 40px;">

            <iframe width="520" height="315" src="https://www.youtube.com/embed/XscUKm4UG3o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

        </div>
        <div class="col-xs-5">
            <div  class=" register-form">
                <h1>Registrarte</h1>
                <p>Participa en la comunidad</p>
                <div class="input-hint">
                <input  ng-model="user.name"  class="big wrong" type="text" placeholder="Nombre de usuario">
                    <div><span>a-Z0-9</span>
                        <svg style="" width="20" height="30"><polygon points="0,0 0,30 15,15"></polygon></svg>
                    </div>
                </div>
                <input  ng-model="user.email" class="big success" type="text" placeholder="Correo electrónico">
                <input  ng-model="user.pass" class="big" type="password" placeholder="Escribe una contraseña">
                <input  ng-model="user.pass2" class="big" type="password" placeholder="Repite la contraseña">

                <div style="padding-top: 20px;padding-bottom: 20px;">
                    <p>Al hacer click en REGISTRARME, aceptas las <a>condiciones</a> y confirmas que has leido nuestra <a>política de datos</a> incluida las <a>Cookies</a></p>
                </div>
                <div style="text-align: center">
                    <button ng-click="send()" style="color:gainsboro;font-weight: bold;" class="btn btn-primary btn-sm" type="submit">REGISTRARME</button>

                </div>
            </div>
        </div>


    </div>
    <div style="margin-top: 20px;">
        <div class="container" style="border-top: 1px silver solid;padding-top: 30px">

            <div class="col-xs-3">
                <div class="freature-box">
                    <img src="assets/img/icons/icon_comunidad.png">
                    <h4>Comunidad</h4>
                    <p>VEOTUTORIALES es una comunidad donde los usuarios pueden bla bla bla</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="freature-box">

                <img src="assets/img/icons/icon_notification.png">
                <h4>Notificaciones</h4>
                <p>Podrás recibir notificaciones personalizadas en tu correo electrónico</p>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="freature-box">

                <img src="assets/img/icons/icon_track.png">
                <h4> Seguimiento</h4>
                <p>Suscribete a tus cursos favoritos</p>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="freature-box">

                <img src="assets/img/icons/icon_calendar.png">
                <h4>Calendario</h4>
                <p>El calendario permite conocer cuando saldrán los proximos tutoriales</p>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="freature-box">

                <img src="assets/img/icons/icon_view.png">
                <h4>Views</h4>
                <p>Llevarás un control de los tutoriales que ya has visto</p>
                </div>

            </div>
            <div class="col-xs-3" style="text-align: center">
                <div class="freature-box">
                <span class="glyphicon glyphicon-plus" style="font-size: 50px;"></span>
                <p>Y más funcionalidades que estamos desarrollando actualmente</p>
                </div>
            </div>
        </div>
    </div>
</div>