<div ng-controller="registerController">

    <div class="container">
        <h1>Crear una cuenta nueva</h1>
        <div class="">
            <input ng-model="user" type="text" class="form-control" placeholder="Nombre">
            <input ng-model="email" class="form-control" type="text" placeholder="Email">
            <input ng-model="pass" class="form-control" type="password" placeholder="Contraseña">
            <label><input type="checkbox" ng-model="checkbox">Acepto lo terminos legales</label>
            <button ng-click="send(checkbox)" class="btn btn-default btn-sm" type="submit">Registrarme</button>
        </div>
    </div>
    <div class="container" style="padding-top: 10px;">
        Actualizar informacion, darme de abaja etc
        <ul>
            <li ui-sref="welcome">Welcome</li>
            <li ui-sref="reminder">Recordar Pass</li>
        </ul>
    </div>
</div>