header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: @c_1;
  z-index: 99;
  color: @cf_1;
  box-shadow: 0 1px 2px rgba(83, 99, 120, 0.4);

}
header a{
  color: gainsboro;

}

header a:hover{
  color: #d1d1d1;
  text-decoration: none;
}