/* latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v5/LQ7WLTaITDg4OSRuOZCps_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'Lato', Calibri, Arial, sans-serif;*/
  font-family: "Arial ";
  color: #435663;
}
.bree {
  /* font-family: 'Bree Serif', serif;*/
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input.big {
  font-size: 20px;
  margin-top: 10px;
  padding: 15px;
  height: 40px;
}
input.wrong {
  border-color: #e16b7f;
  background-color: #ffdcd4;
}
input.success {
  border-color: #5db564;
  background-color: #c3ffcb;
}
button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
button.subscribe {
  background-color: #f5614b;
  color: white;
}
.box {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.default {
  color: #2c343d;
}
ul.float li {
  float: left;
}
ul.padding-5 li {
  padding: 5px;
}
ul.padding-10 li {
  padding: 11px;
}
ul.hover-default li:hover {
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}
ul li.hover-default:hover {
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}
.search input {
  background-color: transparent;
  border: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 25px;
  color: #464646;
  width: 160px;
  border-bottom: 1px #536378 solid;
  margin-right: 10px;
  border-bottom: 1px #fa696e solid;
  font-size: 18px;
}
input:focus {
  outline: 0;
}
.search span {
  position: absolute;
  top: 13px;
  margin-left: 138px;
  color: #525252;
}
.search input:focus {
  width: 200px;
  transition: 1s;
  border-bottom: 1px gainsboro solid;
}
h1 {
  font-size: 20pt;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding-bottom: 5px;
  color: #455362;
  font-size: 13pt;
  /*border-bottom:1px rgba(106, 131, 151, 0.87) solid;*/
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  border-bottom: 1px silver solid;
}
h4 {
  border-bottom: 1px silver solid;
}
textarea {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
table {
  width: 100%;
}
td,
th {
  padding: 5px;
}
pre {
  border-radius: 0 !important;
  border: 0 !important;
  padding: 10px !important;
}
div {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  color: black;
  box-shadow: 0 1px 2px rgba(83, 99, 120, 0.4);
  font-size: 13px;
  font-family: "Arial";
}
header a {
  color: black;
}
header a:hover {
  color: #d1d1d1;
  text-decoration: none;
}
header .branch {
  margin-right: 0px;
  border-right: 1px silver solid;
}
header ul.hover-default li:hover a {
  color: white;
}
header ul.hover-default li:hover {
  background-color: #ed1414 !important;
  color: #ffffff;
  cursor: pointer;
}
header ul li.hover-default:hover {
  background-color: #ed1314 !important;
  color: #ffffff;
  cursor: pointer;
}
footer {
  color: gray;
  padding-bottom: 50px;
  margin-top: 20px;
}
footer > div > div > div {
  padding: 5px;
}
#barraaceptacion {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 99999;
}
.inner {
  width: 100%;
  position: absolute;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  top: 30%;
}
.inner a.ok {
  padding: 4px;
  color: #00ff2e;
  text-decoration: none;
}
.inner a.info {
  padding-left: 5px;
  text-decoration: none;
  color: #faff00;
}
.btn-toolbar {
  margin-bottom: 5px;
}
.freature-box {
  height: 150px;
  overflow: hidden;
  margin-top: 20px;
}
.freature-box > img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
.freature-box > h4 {
  float: left;
  border: 0;
  font-weight: bold;
}
.freature-box > p {
  width: 100%;
  float: left;
}
.search-head {
  border-bottom: 1px gainsboro solid;
  padding-top: 5px;
  background-color: #ef1212;
  color: gainsboro;
}
.search-head li {
  float: left;
  color: gainsboro;
}
.search-head li:hover {
  border-bottom: 3px gainsboro solid;
  cursor: pointer;
}
.search-head li.selected {
  border-bottom: 3px gainsboro solid;
}
.registerBacground {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,d2d9db+100 */
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #d2d9db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f5f6), color-stop(37%, #e3eaed), color-stop(100%, #d2d9db));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #d2d9db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #d2d9db 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #d2d9db 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #d2d9db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#d2d9db', GradientType=0);
  /* IE6-9 */
}
.register-form {
  padding: 10px;
  margin-top: 40px;
}
.register-form h1 {
  font-size: 36px;
  font-weight: bold;
}
.input-hint > svg > polygon {
  stroke: #006600;
  fill: #00cc00;
}
.input-hint > div {
  display: none;
  position: absolute;
  margin-left: -80px;
  margin-top: -40px;
  background-color: red;
  color: gainsboro;
}
.input-hint:hover > div {
  display: block;
}
