@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v5/0daoUMW28nkWOnFz2G4AAiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v5/LQ7WLTaITDg4OSRuOZCps_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #435663;
}
.bree {
  font-family: 'Bree Serif', serif;
}
input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.box {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.default {
  color: #2c343d;
}
ul.float li {
  float: left;
}
ul.padding-5 li {
  padding: 5px;
}
ul.padding-10 li {
  padding: 10px;
}
ul.hover-default li:hover {
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}
ul li.hover-default:hover {
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}
.search input {
  background-color: transparent;
  border: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 25px;
  color: gainsboro;
  width: 160px;
  border-bottom: 1px #536378 solid;
  margin-right: 10px;
  border-bottom: 1px #6a8296 solid;
}
input:focus {
  outline: 0;
}
.search span {
  position: absolute;
  top: 10px;
  margin-left: 5px;
  color: gainsboro;
}
.search input:focus {
  width: 200px;
  transition: 1s;
  border-bottom: 1px gainsboro solid;
}
h1 {
  font-size: 20pt;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding-bottom: 5px;
  color: #455362;
  font-size: 13pt;
  /*border-bottom:1px rgba(106, 131, 151, 0.87) solid;*/
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  border-bottom: 1px silver solid;
}
h4 {
  border-bottom: 1px silver solid;
}
textarea {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
table {
  width: 100%;
}
td,
th {
  padding: 5px;
}
header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #536378;
  z-index: 99;
  height: 40px;
  color: gainsboro;
  box-shadow: 0 1px 2px rgba(83, 99, 120, 0.4);
}
footer {
  color: gray;
  padding-bottom: 50px;
}
footer > div > div > div {
  padding: 5px;
}
#barraaceptacion {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 99999;
}
.inner {
  width: 100%;
  position: absolute;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  top: 30%;
}
.inner a.ok {
  padding: 4px;
  color: #00ff2e;
  text-decoration: none;
}
.inner a.info {
  padding-left: 5px;
  text-decoration: none;
  color: #faff00;
}
