<style type="text/css">


</style>
<div ng-controller="homeController">

    <div style="border-bottom: 1px #7a8eb1 solid;border-top: 1px #7a8eb1 solid;background-color: #8d9cd0;padding: 20px;">
        <div class="container">
            <div class="col-xs-1">
                <span style="font-size: 29pt;" class="glyphicon glyphicon-bell"></span>
            </div>
            <div class="col-xs-8" style="font-size: 16px;color: gainsboro">
                Hola <strong>Salvador</strong>,<br>
                Tienes nuevos tutoriales en el curso <strong>Introducción a HTML</strong>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block btn-default" style="background-color: #a9bbf0;border-color: #8e9ed3;">VER AHORA</button>
            </div>
        </div>
    </div>


    <!-- calendario -->
    <div ng-init="getCalendar(getDate(),6)" class="" style="padding-top: 10px;">
        <div class="container">
            <h2 style=""><span class="glyphicon glyphicon-calendar"></span> Calendario</h2>

            <div class="row " style="margin-top: 10px;">
                <div  ng-repeat="cal in calendar" class="col-xs-12 col-md-{{cal.len}}" style="">
                    <div style="background-color: #f4f6f7;padding: 3px;font-weight: bold;">{{cal.day}}</div>
                    <ul>
                        <li>
                            <img style="width: 100%;margin-bottom: 10px;" src="http://localhost:8000/img/media/sm/{{cal.tutorials[0].image}}">
                        </li>
                        <li class="box" style="margin-bottom: 5px;" ng-repeat="tutorial in cal.tutorials">
                            <div style="color: red;padding: 2px;font-size: 17px;">
                                <a ui-sref="course({course_id:tutorial.course_id})">
                                {{tutorial.course_title}}
                                </a>
                            </div>
                            <div style="padding: 2px;">{{tutorial.title}}</div>
                        </li>

                    </ul>
                </div>

            </div>


        </div>
    </div><!-- .calendario -->

    <div ng-init="lastTutorials()" style="border-bottom: 1px #ebebeb solid;border-top: 1px #ebebeb solid;background-color: #d6d6d6;padding: 10px;">
        <div class="container">
            <h2 style=""><span class="glyphicon glyphicon-fire"></span> Último contenido</h2>
            <!--- --->
            <div ng-repeat="tutorial in tutorials" class="col-xs-12 col-sm-3 " style="margin-bottom: 10px;padding: 10px;">
                <div class="box">
                    <div>
                        <img style="width: 100%;" src="http://localhost:8000/img/media/md/{{tutorial.image}}">
                    </div>
                    <div style="padding:5px;height:50px;">
                        <div style="color: red;padding: 2px;font-size: 16px;padding-bottom: 0">
                            <a ui-sref="course({course_id:tutorial.course_id})">
                                {{tutorial.course_title}}
                            </a>
                        </div>
                        <div style="padding: 2px;padding-top: 0">{{tutorial.title}}</div>
                    </div>
                </div>
            </div>




            <!-- -->

        </div>
    </div>
</div>

