<style type="text/css">
    .home-slider-item{
        float: left;
        margin-right: 20px;;
    }
    .home-slider-item img{
        width: 100%;
    }
    .home-slider-item p{
        margin: 0;
        text-align: center;
    }



    .calendario ul li{
        border-bottom: 1px silver solid;
        padding: 5px;
    }
</style>
<div ng-controller="homeController">

    <div style="background-color: #e8e8e8;padding-bottom: 20px;">
        <div class="container" style="padding: 5px;padding-top: 10px;">

            <h2> Pendientes de ver / Ultimos tutoriales <span ui-sref="search" class="pull-right" style="color:#d1171e">Ver más</span></h2>

        </div>
        <div class="container">
            <div class="row" style="">
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>
            <tutorial-card class="col-xs-2" style="padding: 5px;height: 110px"></tutorial-card>



            </div>

        </div>
    </div>

    <div class="container">


        <div class="col-xs-5" style="" >
            <h2 style="margin-left: -20px;">Cursos más vistos</h2>
            <div class="row">
            <div class="col-xs-6" style="padding: 3px;"><img style="width: 100%" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></div>
            <div class="col-xs-6" style="padding: 3px;"><img style="width: 100%" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></div>
            <div class="col-xs-6" style="padding: 3px;"><img style="width: 100%" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></div>
            <div class="col-xs-6" style="padding: 3px;"><img style="width: 100%" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></div>

            </div>


        </div>
        <div class="col-xs-7" ng-init="test = {a:'uno'}">
            <h2  style="margin-left: -10px;">Ultimás dudas</h2>
            <dudas-card info="test"></dudas-card>
            <dudas-card info="test"></dudas-card>
            <dudas-card info="test"></dudas-card>
            <dudas-card info="test"></dudas-card>

        </div>

    </div>



    <!-- calendario -->
    <div class="" style="padding-top: 10px;min-height: 200px;background-color: #e7e7e7">
        <div class="container">
            <h2 style="">Calendario</h2>

            <div class="row calendario" style="margin-top: 10px;">
                <div class="col-xs-2" ng-repeat="(i,k) in calendar">
                    <div style="background-color: #f4f6f7;padding: 3px;font-weight: bold;">{{i}}</div>
                    <ul>
                        <li ng-repeat="tutorial in k">{{tutorial.name}}</li>

                    </ul>
                </div>
                <div class="col-xs-1">
                    <div style="background-color: #f4f6f7;padding: 3px;font-weight: bold;">sabado</div>
                </div>
                <div class="col-xs-1">
                    <div style="background-color: #f4f6f7;padding: 3px;font-weight: bold;">domingo</div>
                </div>
            </div>


        </div>
    </div><!-- .calendario -->

<!-- boletin -->
    <div class="" style="margin-top: 20px;height: 200px">
        <div class="container">
            <h2>Boletin semanal</h2>
            <div>¿Quieres recibir el calendario semanal en tu cuenta?</div>
            <div class="row">
                <div class="col-xs-4">
                    <ul>
                        <li>Recivir novedades de la web</li>
                        <li>Recivir calendario semanal</li>
                        <li>Nuevos cursos</li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    <form class="" style="width: 260px;">
                        <input style="" type="text" class="form-control" placeholder="introduce tu email">
                        <button class="btn btn-primary">Suscribirme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- .boletin -->