
<div>


    <table class="box" style="width: 100%">
        <tbody>
        <tr style="border-bottom: 1px #ebebeb solid;">
            <td><img style="width: 100px;" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></td>
            <td>Introducción a JAVA</td>
            <td>ELIMINAR</td>
        </tr>
        <tr>
            <td><img style="width: 100px;" src="https://i.ytimg.com/vi_webp/H74PVCIShe0/mqdefault.webp"></td>

            <td>Introduccion a PHP orientado  a objetos</td>
            <td>ELIMINAR</td>
        </tr>
        </tbody>
    </table>
</div>