<style type="text/css">
    .account-box{
        border: 1px #d9d9d9 solid;
        background-color: whitesmoke;
        margin-bottom: 20px;

    }
    .account-box h2{
        margin: 0;
        padding: 5px;
        color: darkgray;
        font-size: 22px;
        border-bottom: 1px silver solid;
    }
    .account-box > div{
        height: 100px;
    }


    .account-menu{
        background-color: whitesmoke;
        list-style: none;
        padding: 0;
    margin: 0;
    }
    .account-menu li{
        padding: 10px;
    }
    .account-menu li:hover{
        background-color: #d5d5d5;
    }
    .account-menu .selected{
        background-color: #d5d5d5;
    }
</style>
<div ng-controller="suscripcionController" style="min-height: 400px">



    <div class="container" style="padding-top: 20px;">
        <div class="col-xs-3">

            <div class="box">
                <ul class="hover-default padding-10">
                    <li ui-sref="suscripcion.courses">Cursos</li>
                    <li ui-sref="suscripcion.dudas">Dudas</li>

                </ul>
            </div>

        </div>
        <div class="col-xs-6">
                <div ui-view="suscripcion"></div>
        </div>
    </div>


</div>