
<div class="box">


    <div style="border-bottom: 1px silver solid;padding: 5px;font-size: 14pt;font-weight: bold;">Cambiar mi email</div>
    <div style="padding: 5px;">
        <input type="email" class="form-control" value="geodracs@gmail.com">

    </div>
    <div style="text-align: right;padding: 5px;">
        <div class="pull-left" style="background-color: red;padding: 5px;color: white">El email ya existe</div>
        <button class="btn btn-primary">Guardar</button>
    </div>


</div>