
<div>

    <h2>Notificaciones</h2>
    <p>Elige que notificaciones quieres recivir.</p>
    <table style="width: 100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Email</th>
                <th>Movil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nuevo tutorial de tus suscripciones</td>
                <td>Activado</td>
                <td>Activado</td>
            </tr>
            <tr>
                <td>Cuando otr usuario responde a tu duda</td>
                <td>Activado</td>
                <td>Activado</td>
            </tr>
        </tbody>
    </table>




</div>