
<div>


        Social de mi cuenta


    <table style="width: 100%">
        <thead>
        <tr>
            <th>Red Social</th>
            <th>Login</th>
            <th>Activar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Facebook</td>
            <td>Activado</td>
            <td>Activado</td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>Activado</td>
            <td>Activado</td>
        </tr>
        <tr>
            <td>LinkedIN</td>
            <td></td>
            <td>Activado</td>
        </tr>
        </tbody>
    </table>
</div>