
<form ng-submit="updateName(user.name,pass)" class="" style="">

    <h1 style="font-size: 24pt;font-weight: bold;">Cambiar nombre de usuario</h1>
    <p>El nombre de usuario tiene que ser único y servirá para diferenciarte del resto de usuarios.</p>
    <div style="padding: 5px;">
        <input ng-model="user.name" type="text" class="big" placeholder="Nuevo nombre de usuario">
        <input ng-model="pass" type="password" class="big" placeholder="Contraseña">
    </div>
    <div style="text-align: right;padding: 5px;">
        <div class="pull-left" style="background-color: red;padding: 5px;color: white">El usuario ya existe</div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>