
<div class="" style="background-color: #dfdfdf">


    <div style="border-bottom: 1px silver solid;padding: 5px;font-size: 14pt;font-weight: bold;">Eliminar mi cuenta</div>
    <div style="padding: 5px;">
        Perderás todos los datos almacenados para tu usuario.
    </div>
    <div style="padding: 5px;">
        <label>Introduce tu contraseña</label>
        <input ng-model="pass" type="password" class="form-control">
        <hr>
        <button ng-click="destroy(pass)" class="btn btn-danger btn-block">ELIMINAR MI CUENTA</button>
    </div>
    <div style="padding: 5px;">
        <div  style="background-color: red;padding: 5px;color: white">La contraseña no es correcta</div>
    </div>


</div>