
<form ng-submit="updatePassword(old_pass,new_pass,new_pass2)" class="" style="">


    <h1 style="font-size: 24pt;font-weight: bold;">Cambiar contraseña</h1>
    <p>Elige una contraseña que proporcione suficiente seguridad en tu cuenta, te recomendamos que uses mayusculas y minusculas mezclados con numeros</p>
    <div style="padding: 5px;">
        <input ng-model="old_pass" type="password" class="big" placeholder="Contraseña antigua">
        <hr>
        <input ng-model="new_pass" type="password"  class="big" placeholder="Contraseña nueva">
        <input ng-model="new_pass2" type="password"  class="big" placeholder="Repite la nueva contraseña">
    </div>
    <div style="text-align: right;padding: 5px;">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>


</form>