
<div class="" style="background-color: #dfdfdf">


    <div style="border-bottom: 1px silver solid;padding: 5px;font-size: 14pt;font-weight: bold;">Cambiar mi email</div>
    <div style="padding: 5px;">
        <p>AVISO: No podrás entrar en tu cuanta hasta que confirmes el nuevo email. Asegurate de que introduces correctamente el email y funciona</p>
        <input ng-model="email" type="email" class="form-control" placeholder="Nuevo email">
        <input ng-model="pass" type="password" class="form-control" placeholder="Contraseña">

    </div>
    <div style="text-align: right;padding: 5px;">
        <div class="pull-left" style="background-color: red;padding: 5px;color: white">El email ya existe</div>
        <button ng-click="updateEmail(email,pass)" class="btn btn-primary">Guardar</button>
    </div>


</div>