
<form ng-submit="updateEmail(email,pass)">


    <h1 style="font-size: 24pt;font-weight: bold;">Cambiar mi email</h1>
    <div style="padding: 5px;">
        <p>No podrás entrar en tu cuanta hasta que confirmes el nuevo email. Asegurate de que introduces correctamente el email y funciona</p>
        <input ng-model="email" type="email" class="big" placeholder="Nuevo email">
        <input ng-model="pass" type="password" class="big" placeholder="Contraseña">

    </div>
    <div style="text-align: right;padding: 5px;">
        <div class="pull-left" style="background-color: red;padding: 5px;color: white">El email ya existe</div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>


</form>