
<div class="box">


    <div style="border-bottom: 1px silver solid;padding: 5px;font-size: 14pt;font-weight: bold;">Cambiar contraseña</div>
    <div style="padding: 5px;">
        <label style="margin-top: 10px;">Contraseña anterior</label>
        <input type="password" class="form-control" placeholder="Contraseña antigua">
        <hr>
        <label >Contraseña nueva</label>
        <input type="password"  class="form-control" placeholder="Contraseña nueva">
        <label style="margin-top: 10px;">Repite la contraseña</label>
        <input type="password"  class="form-control" placeholder="Repite la nueva contraseña">
    </div>
    <div style="text-align: right;padding: 5px;">
        <div class="pull-left" style="background-color: red;padding: 5px;color: white">Contraseña no valida</div>
        <button class="btn btn-primary">Guardar</button>
    </div>


</div>