
<div class="" style="background-color: #dfdfdf">

    <div style="border-bottom: 1px silver solid;padding: 5px;font-size: 14pt;font-weight: bold;">Configura tus notificaciones</div>

    <table style="width: 100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Email</th>
                <th>Movil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nuevo tutorial de tus suscripciones</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Cuando otro usuario responde a tu duda</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Nuevas dudas en tutoriales vistos</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>

        </tbody>
    </table>


    <div style="text-align: right;padding: 5px;">
        <button class="btn btn-primary">Guardar</button>
    </div>

</div>