
<div class="box">


    <table style="width: 100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Email</th>
                <th>Movil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nuevo tutorial de tus suscripciones</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Cuando otr usuario responde a tu duda</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>




</div>