.search input{
  background-color: transparent;
  border:0;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right:25px;
  color: #464646;
  width: 160px;
  border-bottom: 1px #536378 solid;
  margin-right: 10px;
  border-bottom: 1px #fa696e solid;
  font-size: 18px;

}
input:focus{

  outline: 0;
}
.search span{
  position: absolute;
  top:13px;
  margin-left: 138px;
  color: #525252;
}


.search input:focus{
  width: 200px;
  transition:1s;
  border-bottom: 1px gainsboro solid;

}