ul{
  list-style: none;
  margin:0;
  padding: 0;

}
ul.default{
  color: #2c343d;

}

ul.float li{
  float: left;

}


ul.padding-5 li{
  padding: 5px;

}

ul.padding-10 li{
  padding: 11px;

}


ul.hover-default li:hover{
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}


ul li.hover-default:hover{
  background-color: #6a8094;
  color: gainsboro;
  cursor: pointer;
}