<style type="text/css">
    .search-menu{
        list-style: none;
        padding: 0;
        margin: 0;
    }

</style>
<div ng-controller="searchController">
    <div class="search-head">
        <div class="container">
            <div class="row">
                <ul class="pull-left float padding-10">
                    <li ng-click="changeType(0)" ng-class="{'selected': type == 'all'}">Todo</li>
                    <li ng-click="changeType(1)" ng-class="{'selected': type == 'cursos'}">Cursos</li>
                    <li ng-click="changeType(2)" ng-class="{'selected': type == 'tutoriales'}">Tutoriales</li>
                    <li ng-click="changeType(3)" ng-class="{'selected': type == 'dudas'}">Dudas</li>
                </ul>
                <div class="pull-right" style="padding: 3px;">
                    <div class="" style="">
                    <span style="font-size: 16pt;top: 53px;margin-left: 7px;position: absolute;color: rgba(106, 131, 151, 0.87)" class="glyphicon glyphicon-search"></span>
                    <input style="padding: 5px;width: 400px;border: 1px #3e4956 solid;padding-left:35px;background-color: #4f5f70" ng-model="q" type="text" placeholder="Buscar...">
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div style="height: 400px;padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">


                    <div class="box" style="">
                        <label>Ordenar por</label>
                        <div>Fecha</div>
                        <div>Relevancia</div>
                        <div></div>
                    </div>
                    <div class="box" style="margin-top: 20px;">
                        <div ng-repeat="f in filters">{{f.title}}</div>

                    </div>

                </div>
                <div class="col-xs-9">
                    <div class="row" style="border: 1px silver solid;margin-top: 10px;height: 100px;">
                        <div class="col-xs-3">Imgaen</div>
                        <div class="col-xs-9">Descipcion</div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container">
            <div class="col-xs-8">
            </div>
        </div>
    </div>

</div>