<div ng-controller="courseController">


    <div style="height: auto !important;overflow: hidden;box-shadow:         inset 0px 1px 15px 0px rgba(50, 50, 50, 0.75);">
        <!-- 16:9 aspect ratio -->
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
            <div class="embed-responsive embed-responsive-16by9" style="">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_eVNU59Q_MU"></iframe>
            </div>
        </div>

    </div>
    <div style="height: 50px;background-color: #535353"></div>

    <div class="" ng-controller="playlist">
        <div class="col-xs-3" style="padding: 0">
            <div style="background-color: #c0c0c0;">
                <div style="padding: 10px;" >
                    <input class="form-control" ng-model="searchText">
                </div>
                <div ng-repeat="tutorial in list | filter:searchText">
                    {{tutorial.title}}
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <h1>Titulo del tutorial que esta arriba</h1>
        </div>
    </div>


</div>