<style type="text/css">
    .course-menu{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .course-menu li{
        float: left;
        padding: 5px;
    }
    .home-slider-item{
        float: left;
        margin-right: 10px;
    }
    .home-slider-item img{
        width: 100%;
    }
    .home-slider-item p{
        margin: 0;
        text-align: center;
    }

    .player td{
        padding: 5px;;
    }

    .selected{
        background-color: #879dba;
        color: white;
    }
    .selected a{
        color: white !important;
    }
    .selected span{
        display: none;
    }

    .player_list td{
        padding: 10px;
        border-bottom: 1px #e3e3e3 solid;
    }
</style>

<div  ng-controller="courseController" style="padding-bottom: 20px;" ng-init="getCourse(course_id);">


    <div class="container" style="padding-top:30px;">

        <div class="row">

            <div class="col-xs-4" style="padding: 10px;">
                <div style="margin-bottom: 20px;">
                    <img style="width: 100%;border: 1px #6a7c95 solid;" src="{{imageAsset('lg',course.image)}}">
                </div>


                <div ng-controller="subscriptionController" ng-init="check(3,course_id)">
                    <button ng-hide="is_subscribed" ng-click="add(3,course_id)" class="btn btn-block btn-primary">Unirme al curso <span style="font-size: 18px;" class="glyphicon glyphicon-star pull-right" ></span></button>
                    <button ng-show="is_subscribed" ng-click="delete(3,course_id)" class="btn btn-block btn-danger">Salirme del curso <span style="font-size: 18px;" class="glyphicon glyphicon-star pull-right" ></span></button>
                </div>

                <div class="box" style="margin-top: 20px;padding: 5px;height: auto !important;overflow: hidden">
                    <div class="pull-left">
                        <img style="width: 40px;height: 40px;" src="https://scontent-mad1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10603617_10204174851405769_121819781742518100_n.jpg?oh=f6a89491e9d94ad49768e45622059608&oe=56FA6EFE">
                    </div>
                    <div class="pull-left" style="padding: 5px;padding-left:15px;font-size: 20px;">
                   {{course.name}}
                    </div>
                </div>


            </div>

            <div class="col-xs-8" style="">
                <h1 style="font-size: 36px;font-weight: bold;">{{course.title}}</h1>
                <div ng-bind-html="course.description" class="" style="padding: 10px;background-color: #e8e8e8;margin-top: 20px;"></div>

                <!--
                <div ng-controller="homeController">


                    <div class="" style="margin-top: 20px;margin-bottom: 20px;height: auto !important;overflow: hidden" ng-init="getCalendar('2015-11-30',4)">

                        <div class="col-xs-12" style="padding: 0;border-left: 1px silver solid;border-bottom: 1px silver solid">

                            <div  ng-repeat="cal in calendar" ng-class="{'today': cal.day.today == true}" class="col-xs-12 col-md-3" style="border-right: 1px silver solid;border-top: 1px silver solid;height: 150px;padding: 0">
                                <div  style="padding: 3px;font-weight: bold;font-size: 13px;background-color: #eaeaea">{{cal.day.name}}</div>
                                <ul>
                                    <li class="box" style="margin-bottom: 2px;" ng-repeat="tutorial in cal.tutorials">
                                        <div style="color: #536378;padding-left: 5px;padding-top:3px;font-size: 14px;">{{tutorial.title}}</div>
                                        <div style="padding-left: 5px;font-size: 10pt;">
                                            <a ui-sref="course({course_id:tutorial.course_id})">{{tutorial.course_title}}</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            -->
                <div style="margin-top: 20px;">
                    <ul ng-show="modules.length > 0" style="width: 100%;" class="player">

                        <li ng-repeat="mod in modules" style="margin-top: 20px;">
                            <div style="padding:5px;font-weight: bold;font-size: 24px;">
                                {{mod.title}}
                            </div>
                            <table  style="width: 100%" class="player_list">
                                <tr ng-repeat="tutorial in mod.tutorials" ng-class="{'selected': tutorial.tutorial_id == tutorial_id}" >

                                    <td style="width: 20px;"><span style="color: green;font-size: 18px;" class="glyphicon glyphicon-film"></span> </td>
                                    <td><a style="color: #3e4a5a" ui-sref="tutorial({course_id:course_id,tutorial_id:tutorial.tutorial_id})">{{tutorial.title}}</a> <span class="pull-right">{{tutorial.public_date}}</span></td>
                                    <td style="text-align: right"><span ng-click="unsetView(tutorial.tutorial_id);tutorial.is_view = false;" class="glyphicon glyphicon-eye-open"></span> </td>

                                </tr>
                            </table>

                        </li>
                    </ul>

                </div>




            </div>




        </div>

    </div>


</div>