<style type="text/css">
    .course-menu{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .course-menu li{
        float: left;
        padding: 5px;
    }
    .home-slider-item{
        float: left;
        margin-right: 10px;
    }
    .home-slider-item img{
        width: 100%;
    }
    .home-slider-item p{
        margin: 0;
        text-align: center;
    }

    .player td{
        padding: 5px;;
    }
</style>

<div ng-controller="courseController" style="padding-bottom: 20px;">


    <div style="height: auto !important;overflow: hidden;box-shadow: inset 0px 1px 15px 0px rgba(50, 50, 50, 0.75);background-color: #2c343d">
        <!-- 16:9 aspect ratio -->

        <div class="hidden-xs col-sm-3">
        </div>

        <div class="col-xs-12 col-sm-6" style="padding: 0">
            <div class="" style="position: absolute;left: -70px;top:0;height: 100%;opacity: 0.4">
                <div style="position: relative;top: 50%;transform: translateY(-50%);border: 1px #5f7785 solid;padding: 10px;">
                    <span style="font-size: 30pt;color: #5f7786;" class="glyphicon glyphicon-chevron-left"></span>
                </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9" style="">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_eVNU59Q_MU"></iframe>
            </div>
            <div class="" style="position: absolute;right: -70px;top:0;height: 100%;opacity: 0.4">
                <div style="position: relative;top: 50%;transform: translateY(-50%);border: 1px #5f7785 solid;padding: 10px;">
                    <span style="font-size: 30pt;color: #5f7786;" class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>

        </div>




    </div>
<!--
    <div>
        <div class="container">
            <ul class="pull-left course-menu">
                <li>Compartir</li>

            </ul>

            <ul class="pull-right course-menu">
                <li>Añadir a mis cursos</li>
            </ul>
        </div>
    </div>

-->








<!--

    <div style="background-color: #e8e8e8;height: auto !important;overflow:hidden;">

        <div   class="container" style="padding: 20px;">
            <tutorial-card ng-repeat="tutorial in list" ui-sref="course" class="home-slider-item"></tutorial-card>



        </div>
    </div>

-->



    <div class="container" style="">

        <div class="row">

            <div class="col-xs-4" style="padding: 10px;">
                <div>Version 1 Cambiar a...</div>
                <h4>Lista de reproducción</h4>
                <div style="border: 1px silver solid;">
                    <table ng-controller="playlist" style="width: 100%" class="player">
                        <tr ng-repeat="tutorial in list">
                            <td style="width: 20px;"><span style="color: green" class="glyphicon glyphicon-play-circle"></span> </td>
                            <td>{{tutorial.title}}</td>
                            <td style="text-align: right"><span class="glyphicon glyphicon-eye-open"></span> </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-8" style="">

                <h4>Información y descagas</h4>
                <div style="border: 1px silver solid;padding: 5px;">
                    No hay información en este tutorial
                </div>



                <h4>Dudas</h4>
                <div style="">
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>
                    <dudas-card info="test"></dudas-card>

                </div>

                <h4>Tienes alguna duda?</h4>

                <div style="border: 1px silver solid;padding: 5px;">
                    <div>Antes de enviar tu duda asegurate de que no esté ya resuelta.</div>
                    <input style="margin-top: 5px;border-radius: 0" type="text" class="form-control" placeholder="Un titulo para tu duda">
                    <textarea style="margin-top: 5px;border-radius: 0" class="form-control"></textarea>
                    <div style="margin-top: 5px;text-align: right">
                        <button class="btn btn-default">Enviar</button>
                    </div>
                </div>
            </div>




        </div>

    </div>


</div>